[data-productslider="slider"] .slick-track {
    display: flex !important;
}
[data-productslider="slider"] .slick-slide {
    height: inherit !important;
}
[data-productslider="slider"] .slick-slide > div {
    height: 100%;
}
[data-productslider="slider"] > .slick-list > .slick-track > .slick-slide:not(:last-child) {
    border-right: 1px solid rgb(229 231 235);
}
[data-productslider="slider"] .angular-productlist {
    min-height: 0;
}

[data-productslider="slider"]:not(.slick-initialized) {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
[data-productslider="slider"]:not(.slick-initialized) > div:nth-child(1) ~ div {
    display: none;
}

@media(min-width: 380px) {
    [data-productslider="slider"]:not(.slick-initialized) {
        grid-template-columns: repeat(2, 1fr);
    }
    [data-productslider="slider"]:not(.slick-initialized) > div:nth-child(1) ~ div {
        display: block;
    }
    [data-productslider="slider"]:not(.slick-initialized) > div:nth-child(2) ~ div {
        display: none;
    }
    [data-productslider="slider"]:not(.slick-initialized) > div:nth-child(1) {
        border-right: 1px solid rgb(229 231 235);
    }
}

@media(min-width: 768px) {
    [data-productslider="slider"]:not(.slick-initialized) {
        grid-template-columns: repeat(3, 1fr);
    }
    [data-productslider="slider"]:not(.slick-initialized) > div:nth-child(2) ~ div {
        display: block;
    }
    [data-productslider="slider"]:not(.slick-initialized) > div:nth-child(3) ~ div {
        display: none;
    }
    [data-productslider="slider"]:not(.slick-initialized) > div:nth-child(2) {
        border-right: 1px solid rgb(229 231 235);
    }
}

@media(min-width: 1024px) {
    [data-productslider="slider"]:not(.slick-initialized) {
        grid-template-columns: repeat(4, 1fr);
    }
    [data-productslider="slider"]:not(.slick-initialized) > div:nth-child(3) ~ div {
        display: block;
    }
    [data-productslider="slider"]:not(.slick-initialized) > div:nth-child(4) ~ div {
        display: none;
    }
    [data-productslider="slider"]:not(.slick-initialized) > div:nth-child(3) {
        border-right: 1px solid rgb(229 231 235);
    }
}

@media(min-width: 1240px) {
    [data-productslider="slider"]:not(.slick-initialized) {
        grid-template-columns: repeat(5, 1fr);
    }
    [data-productslider="slider"]:not(.slick-initialized) > div:nth-child(4) ~ div {
        display: block;
    }
    [data-productslider="slider"]:not(.slick-initialized) > div:nth-child(5) ~ div {
        display: none;
    }
    [data-productslider="slider"]:not(.slick-initialized) > div:nth-child(4) {
        border-right: 1px solid rgb(229 231 235);
    }
}

@media(min-width: 1480px) {
    [data-productslider="slider"]:not(.slick-initialized) {
        grid-template-columns: repeat(6, 1fr);
    }
    [data-productslider="slider"]:not(.slick-initialized) > div:nth-child(5) ~ div {
        display: block;
    }
    [data-productslider="slider"]:not(.slick-initialized) > div:nth-child(6) ~ div {
        display: none;
    }
    [data-productslider="slider"]:not(.slick-initialized) > div:nth-child(5) {
        border-right: 1px solid rgb(229 231 235);
    }
}