// ==========================================================================
// Print
// ==========================================================================


// ==========================================================================
// Tabs and panes
// ==========================================================================
.m-product-additional-info-tabs {
	display: none;
}
.toggle-content>.pane {
	display: block !important;
	opacity: 1;
}