// Set charset
@charset "UTF-8";

// Module dependencies
@import "compass";
@import "breakpoint";
@import "breakpoint-slicer";

// Globals
@import "../../../../source/scss/globals/settings";

// Color is hardcoded since we cant change much about the look of Klarna Checkout
$fontColor: #303030;
$strongFontColor: #000000;
$borderColor: #e9e9e9;
$backgroundColor: #fff;

// General
@import "./theme/checkout";
@import "./theme/delivery";
