.m-checkout--stacked {
  position: relative;

  .panel-border {
    font-weight: normal;
    font-size: 1em;

    label[for='m-checkout-country'],
    label[for='m-checkout-zipcode'],
    .deliveryMethodGroupProductsHeader,
    .deliveryTimeContainer > label > strong,
    label[for='m-checkout-del-comment'],
    label[for='m-checkout-deliverymessage'] {
      font-size: 1.075em;
    }
  }
  label {
    font-weight: normal;
    font-size: 1em;
  }
  label[for='m-checkout-deliverymessage'] {
    font-weight: normal !important;
  }
  .w-checkout-usertype {
    .title,
    .w-checkout-usertype__login-button {
      @media (max-device-width: 600px) {
        display: block;
      }
    }
  }
  .stepColumn > .panel.panel-border.w-checkout-steps__step .panel-body {
    padding: 1.5em;
  }
  .stepHeader {
    margin-bottom: 1.5em;
  }

  input[type=text].form-input,
  textarea.form-input {
    padding: 1.75em 1.25em;
  }
  select.form-input {
    height: auto;
    padding: 1em 1.25em;
    font-size: .875em;
    line-height: 1.5;
  }
}