
.w-checkout-payment { /* ... */ }
.w-checkout-payment .stepBox {
  overflow: hidden;
}
.w-checkout-payment__paymenttype {
  transition: 0.25s ease;
  height: auto;
  overflow: auto;
}
.w-checkout-steps__step__toggle--alternative {
  display: none;
}
.w-checkout-payment__paymenttype--is-closed {
  height: 0;
  overflow: hidden;
}
.w-checkout-payment.w-checkout-steps__step--is-closed {
  .w-checkout-steps__step__toggle--alternative {
    display: block;
  }
}
.w-checkout-payment__paymenttype--klarnaKCO { }
.w-checkout-payment__paymenttype--normal { }