.ielt9 .site-corporate .container,
.ielt9 .site-corporate .container.with-xlarge,
.ielt9 .site-corporate .row,
.ielt9 .site-navigation .container,
.ielt9 .site-navigation .container.with-xlarge,
.ielt9 .site-navigation .row {
  overflow: visible;
}

.ielt9 .hero-slider-theme .item-caption,
.ielt9 .product-slider-theme .item-caption {
  position: absolute;
  margin-top: 0;
  left: 0;
  bottom: 0;
  background-color: #000;
}
.ielt9 .cloudzoom-ajax-loader {
  display: none !important;
}

.ielt9 .select2-arrow {
  background-image: none;
  border-radius: 0 3px 3px 0;
  border-color: white !important;
  background-color: white !important;
}

.ie9 #vbpt-scope {
  display: none;
}

.ie7 .site-navigation {
  position: relative;
  z-index: 1;
}