.w-notification {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: fit-content;
    max-width: 360px;
    padding: 15px 20px;
    background-color: #000;
    color: #fff;
    box-shadow: rgba(50, 50, 93, 0.05) 0px 13px 27px -5px, rgba(0, 0, 0, 0.1) 0px 8px 16px -8px;
    border-radius: 3px;
    z-index: 99999;
    transform: translateY(calc(150% + 30px));
}

.w-notification.animate {
    animation-name: animateInOut;
    animation-duration: 5s;
}

.w-notification.error {
    background-color: #ff7675;
    color: #fff;
}
.w-notification.success {
    background-color: #000;
    color: #fff;
}

@keyframes animateInOut {
    0% { transform: translateY(calc(100% + 30px)); }
    10% { transform: translateY(0); }
    90% { transform: translateY(0); }
    100% { transform: translateY(calc(100% + 30px)); }
}