/*
# Description

## Date last modified

*/

.m-calendar-list {

    .heading {
        border-bottom: none;
    }
    
    .t-border-bottom {
        li:last-child {
            border-bottom: none;
        }
    }

}