[data-usp="slider"]:not(.slick-initialized) {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
[data-usp="slider"]:not(.slick-initialized) > *:nth-child(1) ~ * {
    display: none;
}

@media(min-width: 767px) {
    [data-usp="slider"]:not(.slick-initialized) {
        grid-template-columns: repeat(2, 1fr);
    }
    [data-usp="slider"]:not(.slick-initialized) > *:nth-child(2) {
        display: block;
    }
}

@media(min-width: 989px) {
    [data-usp="slider"]:not(.slick-initialized) {
        grid-template-columns: repeat(3, 1fr);
    }
    [data-usp="slider"]:not(.slick-initialized) > *:nth-child(3) {
        display: block;
    }
}

@media(min-width: 1199px) {
    [data-usp="slider"]:not(.slick-initialized) {
        grid-template-columns: repeat(4, 1fr);
    }
    [data-usp="slider"]:not(.slick-initialized) > *:nth-child(4) {
        display: block;
    }
}