/*
# Description
Style for header

## Date last modified
04.04.2019

*/



.header {

}
.header__logo {

    h1 {
        font-size: 25px;
        font-weight: normal;
        line-height: 30px;
        color: map-get($map: $colors, $key: 500);
    }
    a {
        display: block;
        color: inherit;
        width: 100%;
        text-decoration: none;
        text-align: right;
    }

    img {
        display: inline-block;
        max-width: 260px;
    }
 }
.header__contact {
    p {
        text-align: right;
    }
}
