[data-slick="slider"]:not(.slick-initialized) > *:nth-child(1) ~ * {
    display: none;
}

[data-slick="slider"] .slick-dots {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: rgba(0,0,0,.5);
    border-radius: 999px;
}
[data-slick="slider"] .slick-dots > li {
    line-height: 0;
}
[data-slick="slider"] .slick-dots > li button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: rgba(255,255,255,.5);
    border-radius: 99px;
    line-height: 0;
}
[data-slick="slider"] .slick-dots > li.slick-active button {
    background-color: #fff;
}

@media(min-width: 768px) {
    [data-slick="slider"] .slick-dots {
        padding: 0;
        background-color: transparent;
    }
}