.m-product-additionals-transaction .m-product-transaction-button,
.m-product .col-m-6.col-l-6.col-xl-12 > .m-product-information {
    .w-checkout-buttons {
        &-headline {
            text-align: left;
        }
        @media (max-width: 768px) {
            .w-checkout-buttons-headline {
                text-align: right;
            }
            .w-checkout-button {
                margin-right: 0;
            }
        }
        @media (max-width: 411px) {
            .w-checkout-buttons-headline {
                text-align: center;
            }
        }
    }
}
.m-orderform .m-product-transaction-button .w-checkout-buttons {
    width: 100%;
    float: right;
    &-headline {
        @media (max-width: 768px) {
            text-align: center;
        }
    }
    .w-checkout-button {
        @media (min-width: 767px) {
            text-align: right;
            display: flex;
            align-self: flex-end;
        }
    }
    .cart-dead {
        margin-left: auto;
        @media (max-width: 768px) {
            margin-right: auto;
        }
    }
}
.w-checkout,
.w-checkout-button {
    font-size: 12px;
    .loader {
        position: absolute !important;
        margin: auto;
        transition: all .2s ease;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, .6);
        @include material-circles-animation(
            $size: 12px,
            $duration: 0.8s,
            $gap: 8px
        );
        height: 100%;
        width: 100%;
        visibility: hidden;
        opacity: 0;
        z-index: 1;
    }
    .loading > .loader {
        opacity: 1;
        visibility: visible;
        pointer-events: none;
    }
}
.w-checkout-button .loader div {
    height: 8px;
    width: 8px;
}
.w-checkout {
    &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, .4);
        -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
        box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }
    .form-label {
        margin-bottom: 4px;
        font-size: .875em;
    }
    &-buttons {
        &-headline {
            margin: 1em 0;
            text-align: right;
            @media (max-width: 768px) {
                text-align: center;
            }
        }
        .cart-dead {
            display: none;
            margin-top: 8px;
            padding: 4px;
            max-width: 172px;
            border-radius: 5px;
            align-items: center;
            @media (max-width: 768px) {
                margin-left: auto;
            }
            > .fa {
                margin-right: 4px;
                font-size: 16px;
            }
            > small {
                color: inherit;
            }
        }
        .w-checkout-button {
            position: relative;
            padding: 0;
            margin-bottom: 1em;
            line-height: 0;
            width: auto;
            margin: auto 0 auto auto;
            @media (max-width: 768px) {
                margin: auto;
            }
            &:hover,
            &:focus{
                &:not(.loading) > img {
                    filter: brightness(1.15);
                }
            }
            > img {
                transition: 0.2s all;
                transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
                max-width: 100%;
                pointer-events: none;
                &.disabled {
                    display: none;
                }
            }
        }
        &--block {
            .cart-dead {
                display: flex;
            }
            .w-checkout-button {
                pointer-events: none;
                > img {
                    display: none;
                    &.disabled {
                        display: block;
                    }
                }
            } 
        }
    }
    &-link {
        cursor: pointer;
    }
    &-modal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        justify-content: center;
        align-items: center;
        z-index: 8000;
        display: none;

        // Modal intro
        &.modal-active {
            display: flex;
            .modal-blur {
                opacity: 1;
            }
            .modal-container {
                animation: fadescalein 0.2s cubic-bezier(0.0, 0.0, 0.2, 1) forwards;
            }
            &.close {
                visibility: hidden;
                .modal-blur {
                    opacity: 0;
                }
                .modal-container {
                    animation: fadescaleout 0.2s cubic-bezier(0.0, 0.0, 0.2, 1) forwards;
                    // avoid images double animation while closing
                    img {
                        display: none;
                    }
                }
            }
        }
        .modal-blur {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: rgba(0,0,0,0.2);
            opacity: 0;
            transition: 0.2s all;
            transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
        }
    }
    &-notification {
        font-size: 12px;
        background: rgba(0,0,0,.7);
        color: #fff;
        padding: 4px 8px;
        transition: all 200ms ease-out;
        transform: translateY(-100%) translateY(-8px);
        &.active {
            transform: translateY(0px) translateY(-8px);
        }
    }
    .modal-container {
        overflow: hidden;
        border-radius: 3px;
        opacity: 0;
        padding: 8px 0;
        box-shadow: $material-shadow-medium;
        background-color:#fff;
        z-index: 1;
        position: relative;
        max-width: 411px;
        width: 411px;
        strong {
            font-size: 12px;
        }
        @media (max-width: 420px) {
            max-width: 95vw;
            max-height: 95vh;
            overflow-y: auto;
        }
        .modal-header {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            > .fa {
                cursor: pointer;
                position: absolute;
                right: 8px;
                top: 8px;
                border-radius: 50px;
                width: 20px;
                height: 20px;
                font-size: 14px;
                display: flex;
                color: #fff;
                background: rgba(0,0,0,.7);
                align-items: center;
                justify-content: center;
            }
        } 
        .modal-content {
            height: auto;
            overflow-y: auto;
            width: 100%;
            .panel-warning {
                color: white;
            }

            // Content styling
            @import "partials/delivery";
            @import "partials/order";
            @import "partials/submit";
        }
    }
    &-button {
        > img {
            margin: 0;
        }
    }
}
//
// Brand Themes
//
@import "partials/brands/mobilepay";