.newcookie {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.7);
  z-index: 9999999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.newcookie .newcookie-container {
  width: 600px;
  max-height: 95vh;
  max-width: 90%;
  display: flex;
  flex-direction: column;
}
.newcookie .newcookie-header {
  padding: 40px 40px 15px 40px;
  margin: 0;
}
.newcookie .newcookie-scrollarea {
  overflow-y: auto;
  flex: auto;
}
.newcookie .newcookie-header .newcookie-title {
  font-size: 18px;
  font-weight: 700;
  display: block;
  margin-bottom: 10px;
}
.newcookie .newcookie-header .cookie-button {
  margin: 15px 0 0 0;
}
.newcookie .newcookie-actions {
  padding: 20px 40px;
  display: flex;
  gap: 10px;
  flex: none;
}
.newcookie .newcookie-actions > button {
  font-size: 13px;
  font-weight: normal;
  border-radius: 5px !important;
}
.newcookie .newcookie-actions > button:nth-child(1),
.newcookie .newcookie-actions > button:nth-child(3) {
  width: 40%;
}
.newcookie .newcookie-actions > button:nth-child(2) {
  width: 20%;
}
.newcookie .newcookie-actions > button:nth-child(3) {
  text-transform: none;
}
.newcookie .button-text:hover,
.newcookie .button-text:visited:hover,
.newcookie .button-text:focus,
.newcookie .button-text:visited:focus {
  color: inherit !important;
  background-color: transparent;
  text-decoration: none !important;
}
.newcookie .w-cookie-toggle svg {
  width: 20px;
  height: 20px;
  margin: 5px 0 0;
  transition: transform .15s ease-in-out;
}
.newcookie .w-cookie-toggle.is-closed svg {
  transform: rotate(180deg);
  margin: 0 0 5px;
}
.newcookie .newcookie-options {
  padding: 0 40px 20px;
  margin: 0;
  gap: 30px;
  display: flex;
  justify-content: end;
}
.newcookie .newcookie-options .w-cookie-option {
  width: fit-content;
  display: flex;
  gap: 5px;
  font-size: 12px;
  align-items: center;
}
.newcookie .newcookie-options .w-cookie-option:first-child {
  display: none;
}
.newcookie .newcookie-options .w-cookie-option .w-cookie-option-title {
  margin: 0;
}
.newcookie .switch {
  width: 35px;
  height: 23px;
}
.newcookie .switch-rail {
  border-radius: 99px;
  background-color: #aaa;
  box-shadow: none;
}
.newcookie .switch-rail:before {
  border-radius: 99px;
  width: 15px;
  height: 15px;
  background-color: #fff;
  box-shadow: none;
  border: none;
  transition: all .15s ease-in-out;
}
input:checked+.switch-rail {
  background-color: #00244f;
  box-shadow: none;
}
input:checked+.switch-rail:before {
  transform: translateX(10px);
  background-color: #fff;
  box-shadow: none;
  border: none;
}
.newcookie .w-cookie-listing {
  margin: 0;
  background-color: #f4f4f4;
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.newcookie .w-cookie-listing .accordion-wrapper > button {
  padding: 10px 40px 10px 20px;
  background-color: transparent;
  border: none;
}
.newcookie .w-cookie-listing .accordion-wrapper .accordion-section {
  border: none;
}
.newcookie .w-cookie-listing .accordion-wrapper:not(.closed) .accordion-section {
  background-color: #f0f0f0;
  padding: 40px;
  border-top: 1px solid #b5a693;
  border-bottom: 1px solid #b5a693;
  overflow-y: auto;
}
.newcookie .w-cookie-details .newcookie-header {
  display: none;
}
.newcookie .w-cookie-details .w-cookie-listing {
  padding: 20px 0;
}
.newcookie .newcookie-image-container {
  line-height: 0;
}
.newcookie .newcookie-image {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 8 / 3;
  object-fit: cover;
  margin: 0;
}
.newcookie .w-cookie-details .newcookie-options {
  padding-top: 20px;
}
.newcookie .w-cookie-details .newcookie-image-container {
  display: none;
}
.newcookie .newcookie-seperator {
  display: block;
  background-color: rgba(0,0,0,.1);
  height: 1px;
  width: 100%;
}
.newcookie .w-cookie-toggle.button.cookie-button {
  margin: 0;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-30px);
  }
  60% {
      transform: translateY(-20px);
  }
}

.bounce {
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


@media(max-width: 640px) {
  /* .newcookie .newcookie-container {
      height: 95vh;
  } */
  .newcookie .newcookie-actions {
      flex-direction: column-reverse;
      padding: 10px;
  }
  .newcookie .newcookie-actions > button {
      padding: 7px 0;
      width: 100% !important;
      height: 40px;
  }
  .newcookie .newcookie-header {
      padding: 20px;
  }
  .newcookie .newcookie-header .newcookie-title {
      font-size: 15px;
  }
  .newcookie .newcookie-options {
      gap: 0;
      justify-content: space-evenly;
      padding: 0 0 20px;
  }
  .newcookie .newcookie-options .w-cookie-option:nth-child(1) {
      display: none;
  }
  .newcookie .newcookie-options .w-cookie-option {
      flex-direction: column;
      font-size: 11px;
  }
  .newcookie .switch {
      width: 55px;
      height: 30px;
  }
  .newcookie .switch-rail:before {
      width: 20px;
      height: 20px;
      top: 5px;
      left: 5px;
  }
  input:checked+.switch-rail:before {
      transform: translateX(24px);
  }
  .newcookie .w-cookie-description,
  .newcookie .w-cookie-extended-info {
      font-size: 12px;
  }
}