.m-reviews-stars {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor' class='w-5 h-5'%3E%3Cpath fill-rule='evenodd' d='M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z' clip-rule='evenodd' /%3E%3C/svg%3E%0A");
  background-repeat: repeat-x;
  background-position: left;
  background-size: 1em;
  width: 0;
  height: 1em;
  font-size: 1em;
  vertical-align: middle;
}
.m-reviews-stars[data-reviews-type=commentshow][data-score="1"] {
  width: 1em;
}
.m-reviews-stars[data-reviews-type=commentshow][data-score="2"] {
  width: 2em;
}
.m-reviews-stars[data-reviews-type=commentshow][data-score="3"] {
  width: 3em;
}
.m-reviews-stars[data-reviews-type=commentshow][data-score="4"] {
  width: 4em;
}
.m-reviews-stars[data-reviews-type=commentshow][data-score="5"] {
  width: 5em;
}

.review-stars-input {
  display: flex;
}
.review-stars-input[data-hover="1"] [data-star="1"] {
  opacity: 1;
}
.review-stars-input[data-hover="2"] [data-star="1"] {
  opacity: 1;
}
.review-stars-input[data-hover="2"] [data-star="2"] {
  opacity: 1;
}
.review-stars-input[data-hover="3"] [data-star="1"] {
  opacity: 1;
}
.review-stars-input[data-hover="3"] [data-star="2"] {
  opacity: 1;
}
.review-stars-input[data-hover="3"] [data-star="3"] {
  opacity: 1;
}
.review-stars-input[data-hover="4"] [data-star="1"] {
  opacity: 1;
}
.review-stars-input[data-hover="4"] [data-star="2"] {
  opacity: 1;
}
.review-stars-input[data-hover="4"] [data-star="3"] {
  opacity: 1;
}
.review-stars-input[data-hover="4"] [data-star="4"] {
  opacity: 1;
}
.review-stars-input[data-hover="5"] [data-star="1"] {
  opacity: 1;
}
.review-stars-input[data-hover="5"] [data-star="2"] {
  opacity: 1;
}
.review-stars-input[data-hover="5"] [data-star="3"] {
  opacity: 1;
}
.review-stars-input[data-hover="5"] [data-star="4"] {
  opacity: 1;
}
.review-stars-input[data-hover="5"] [data-star="5"] {
  opacity: 1;
}
.review-stars-input[data-stars="1"] [data-star="1"] {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.15);
}
.review-stars-input[data-stars="2"] [data-star="1"] {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.15);
}
.review-stars-input[data-stars="2"] [data-star="2"] {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.15);
}
.review-stars-input[data-stars="3"] [data-star="1"] {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.15);
}
.review-stars-input[data-stars="3"] [data-star="2"] {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.15);
}
.review-stars-input[data-stars="3"] [data-star="3"] {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.15);
}
.review-stars-input[data-stars="4"] [data-star="1"] {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.15);
}
.review-stars-input[data-stars="4"] [data-star="2"] {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.15);
}
.review-stars-input[data-stars="4"] [data-star="3"] {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.15);
}
.review-stars-input[data-stars="4"] [data-star="4"] {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.15);
}
.review-stars-input[data-stars="5"] [data-star="1"] {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.15);
}
.review-stars-input[data-stars="5"] [data-star="2"] {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.15);
}
.review-stars-input[data-stars="5"] [data-star="3"] {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.15);
}
.review-stars-input[data-stars="5"] [data-star="4"] {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.15);
}
.review-stars-input[data-stars="5"] [data-star="5"] {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.15);
}
.review-stars-input [data-controller=star] {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor' class='w-5 h-5'%3E%3Cpath fill-rule='evenodd' d='M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z' clip-rule='evenodd' /%3E%3C/svg%3E%0A");
  background-size: 2em;
  cursor: pointer;
  width: 2em;
  height: 2em;
  font-size: 1em;
  vertical-align: middle;
  opacity: 0.5;
  transition: opacity 0.2s ease;
}