.slick-dots {
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    z-index: 1;
    li {
        position: relative;
        display: inline-block;
        width: 8px;
        height: 8px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
            font-size: 0;
            line-height: 0;
            display: block;
            width: 8px;
            height: 8px;
            padding: 0;
            cursor: pointer;
            color: transparent;
            border: 0;
            outline: none;
            background-color: #FFF;
            border-radius: 4px;
        }
        &.slick-active {
            button {
                background-color: #000;
            }
        }
    }
}

.slick-track {
    margin-left: 0;
    margin-right: 0;
}

@media (min-width: 768px) {
    .slick-dots {
        bottom: 2rem;
        li {
            width: 14px;
            height: 14px;
            margin: 0 10px;
            button {
                width: 14px;
                height: 14px;
                border-radius: 7px;
            }
        }
    }
}