.w-checkout-order {
    padding: 0 8px;
    margin-bottom: 8px;
    .order {
        cursor: pointer;
        border: solid 1px #cfcfcf;
        &-total {
            width: 100%;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            transition: ease all .2s;
            padding: 4px;
            > strong {
                display: flex;
                align-items: center;
            }
            .fa {
                transition: 225ms all ease-out;
                margin-right: 0;
                font-size: 0;
            }
        }
        &-line-products {
            overflow: auto;
            max-height: 30vh;
            @media (max-width: 420px) {
                max-height: 85px;
            }
        }
        &-summary {
            z-index: 10;
            height: 100%;
            flex-flow: column-reverse;
            transition: 225ms all ease-out;
            overflow: hidden;
            max-height: 320px;
            &.is-collapsed {
                display: block;
                max-height: 0;
                + .order-total .fa {
                    margin-right: 8px;
                    font-size: 16px;
                }
            }
            .order-list {
                margin: 0;
                padding: 0 4px;
                ul {
                    margin: 0;
                    width: 100%;
                }
                li {
                    display: flex;
                    padding: 4px 0;
                    > span:first-child {
                        flex: 1;
                    }
                }
                > li {
                    text-decoration: none;
                    border-bottom: solid 1px #cfcfcf;
                }
            }
        }
    }
}