.m-checkout--stacked {
  color: $fontColor;

  .w-checkout-steps__step:not(.w-checkout-steps__step:last-child){
    margin-bottom: 1.5rem;
  }


  &.checkoutFrame .stepColumn {
    @media (max-device-width: 600px) {
      padding: 15px !important;
    }
    >.panel.panel-border.w-checkout-steps__step .panel-body {
      padding: 0 0 1.5em 0;
    }
    &:not(.column3):after {
      display: none;
    }
    .stepColumn {
      width: auto !important;
      margin: 0;
      padding: 0;
      box-shadow: none;
    }
    .w-checkout-usertype {

      .title,
      .w-checkout-usertype__login-button {
        @media (max-device-width: 600px) {
          display: block;
        }
      }
    }
  }


  .panel-border,
  label {
    color: $fontColor;

    label[for='m-checkout-country'],
    label[for='m-checkout-zipcode'],
    .deliveryMethodGroupProductsHeader,
    .deliveryTimeContainer > label > strong,
    label[for='m-checkout-del-comment'],
    label[for='m-checkout-deliverymessage'] {
      color: $strongFontColor;
    }
  }
  .form-input,
  .input-group .input-group-addon:first-child,
  .input-group .input-group-main:first-child {
    border-color: $borderColor !important;
  }
}